.img {
    width: 100px;
    height: 100px;
}
.users {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: #003B46;
}
.user {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.user_photo {
    margin-right: 28px;
}
.user_photo button {
    width: 100px;
}
.user_photo button:disabled {
    background-color: #66A5AD;
}
.user_info {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
.user_info:nth-child(even) {
   margin-right: 20px;
}
.selectedPage {
    background-color: gold;
}
.page {
    background-color: #07575B;
}
.page, .selectedPage {
    color: #FFFFFF;
    width: 25px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    flex-direction: row;
}
.pagination:hover {
    cursor: pointer;
}