.header {
    grid-area: h;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.header img {
    width: 120px;
    top: 25px;
    left: 25px;
}
.header div {
    text-align: center;
    width: 100%;
    padding: 30px;
    font-size: xxx-large;
    font-style: italic;
    color: white;
}