.nav {
    grid-area: n;
    background-color: greenyellow;
    font-size: 20px;
}
.item {
    color: white;
}
.activeLink {
    color: gold;
}
.item, .activeLink {
    padding: 10px;
    text-decoration: none;
}