.logo {
    width: 100%;
}
.ava img {
    margin: 10px;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
}
.back img {
    width: 100%;
    height: 200px;
}
.profileInfo {
    padding: 10px;
}