.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items {
    padding: 10px;
}
.dialogs_items .active {
    color: gold;
}
.dialog {
    text-decoration: none;
}
.messages {
    padding: 10px;
}
.message {

}
.button {
    display: flex;
    justify-content: center;
    padding: 10px;
}
button {
    width: 240px;
    height: 50px;
    background-color: #003B46;
    color: white;
    font-size: large;
    font-family: cursive;
    border-radius: 10px;
}
.text {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
textarea {
    width: 85%;
    border-radius: 10px;
}